@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&family=Righteous&family=Roboto:wght@300;400;500&display=swap');
// Typography
$primary-font: 'Righteous', cursive;
$secondary-font: 'Nunito', sans-serif;
$default-font: 'Roboto', sans-serif;

// platform colors

$color-primary: #2894F1;
$color-accent: #44ED9C;
