@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700,800|Roboto:300,400,500');


// Typography
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Nunito', sans-serif;
$default-font: "Roboto", sans-serif;

// platform colors

$color-primary: #2894F1;


$color-accent: #44ED9C;
